@use "../common/variables";
@use "../common/mixins";

.about {
  display: flex;
  flex-direction: column;

  @include mixins.mobile {
    padding-top: 49px;
    padding-bottom: 50px;
    gap: 40px;
  }

  @include mixins.tablet {
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 60px;
  }

  @include mixins.desktop {
    padding-top: 70px;
    padding-bottom: 60px;
    gap: 60px;
  }
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include mixins.mobile {
    padding-top: 2px;
    gap: 40px;
  }

  @include mixins.tablet {
    margin-top: -1px;
  }

  @include mixins.desktop {
    flex-direction: row;
  }
}

.about__header {
  display: flex;
  flex-direction: column;

  & p {
    margin: 0;
  }

  @include mixins.mobile {
    gap: 14px;

    & p {
      @include mixins.font-info(16px, 22px); }
  }

  @include mixins.tablet {
    & p {
      @include mixins.font-info(20px, 26px); }
  }

  @include mixins.desktop {
    max-width: 702px;
    gap: 30px;

    & p {
      @include mixins.font-info(22px, 32px); }
  }
}

.about__title {
  margin: 0;
  color: variables.$primary-color;

  @include mixins.mobile {
    @include mixins.font-info(20px, 20px);
  }

  @include mixins.tablet {
    @include mixins.font-info(34px, 50px); }

  @include mixins.desktop {
    @include mixins.font-info(50px, 50px); }
}

.about__info {
  display: flex;
  flex-direction: column;

  & h3 {
    margin: 0;
    color: variables.$primary-color;
  }

  & p {
    margin: 0;
  }

  @include mixins.mobile {
    gap: 20px;

    & h3 {
      @include mixins.font-info(18px, 22px); }

    & p {
      @include mixins.font-info(14px, 20px); }
  }

  @include mixins.tablet {
    gap: 30px;

    & h3 {
      @include mixins.font-info(28px, 28px); }

    & p {
      @include mixins.font-info(16px, 20px); }
  }

  @include mixins.desktop {
    max-width: 498px;
    gap: 40px;

    & h3 {
      @include mixins.font-info(32px, 36px); }

    & p {
      @include mixins.font-info(16px, 26px); }
  }
}

.about__action {
  @include mixins.mobile {
    margin-top: 10px;
    padding-top: 5px;
  }

  @include mixins.desktop {
    margin-top: 11px;
    min-width: 279px;
    min-height: 56px;

    &:before {
      width: 46px;
      height: 46px;
    }

    &:after {
      right: 20px;
    }
  }
}

.about__benefits {
  @include mixins.mobile {
    padding: 42px 20px 40px;
  }

  @include mixins.tablet {
    padding: 62px 40px 40px 60px;
  }

  @include mixins.desktop {
    padding: 72px 100px 50px 120px;
  }
}
