@use "../common/variables";
@use "../common/mixins";

.benefits {
  background-color: variables.$primary-color;
  color: variables.$accent-color;
  border-radius: 20px;
}

.benefits__items {
  @include mixins.list-base();

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  @include mixins.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 42px 50px;
  }

  @include mixins.desktop {
    gap: 54px 52px;
  }
}

.benefits__item {
  display: grid;
  row-gap: 15px;
  position: relative;
  border-radius: 16px;
  border: 1px solid variables.$alternative-color;

  &::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: variables.$primary-color;
    left: -21px;
    top: -21px;
  }

  &::after {
    content: "";
    position: absolute;
    mask-image: url("/__spritemap#sprite-star-view");
    mask-repeat: no-repeat;
    background-color: variables.$accent-color;
    width: 18px;
    height: 22px;
    top: -12px;
    left: -9px;
  }

  & h3 {
    margin: 0;
    text-transform: uppercase;
    color: variables.$accent-color;
  }

  & p {
    margin: 0;
    color: variables.$alternative-color;
  }

  @include mixins.mobile {
    min-height: 128px;
    grid-template-columns: auto;
    padding: 19px 20px 20px 19px;

    & h3 {
      @include mixins.font-info(16px, 20px);
      letter-spacing: 0.16px;
    }

    & p {
      @include mixins.font-info(14px, 20px);
    }
  }

  @include mixins.tablet {
    height: fit-content;
    min-height: 168px;
    padding: 30px 40px 25px 29px;
    grid-template-columns: auto;

    & h3 {
      @include mixins.font-info(20px, 22px);

      max-width: 132px;
      letter-spacing: 0.2px;
    }

    & p {
      @include mixins.font-info(16px, 20px);
    }
  }

  @include mixins.desktop {
    padding: 25px 60px 25px 59px;
    grid-template-columns: auto auto;

    & h3 {
      @include mixins.font-info(26px, 30px);

      letter-spacing: 0.26px;
      padding-top: 4px;
      max-width: 171px;
    }
  }
}
