@use "../common/variables";
@use "../common/mixins";

.footer {
  margin: 0;

  @include mixins.mobile {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include mixins.tablet {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include mixins.desktop {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer__wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  column-gap: 42px;

  @include mixins.mobile {
    grid-template-columns: minmax(290px, auto);
    grid-template-rows: auto;
    row-gap: 5px;
  }

  @include mixins.tablet {
    grid-template-columns: 52px 1fr auto;
    grid-template-rows: auto auto;
    row-gap: 25px;
  }
}

.footer__logo {
  @include mixins.mobile {
    margin: 0 auto;
  }

  @include mixins.tablet {
    margin: unset;
  }
}

.footer__nav-wrapper {
  @include mixins.mobile {
    grid-column: 1/-1;
    grid-row: 2/3;
    padding-top: 5px;
  }

  @include mixins.tablet {
    grid-column: 2/-1;
    grid-row: unset;
  }

  @include mixins.desktop {
    grid-column: 2/3;
  }
}

.footer__nav-items {
  @include mixins.list-base;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include mixins.mobile {
    justify-content: center;
    column-gap: 30px;
    row-gap: 0;
  }

  @include mixins.tablet {
    justify-content: flex-end;
    gap: 16px;
  }

  @include mixins.desktop {
    justify-content: flex-start;
    gap: 10px;
  }
}

.footer__nav-item {
  flex-shrink: 0;
}

.footer__nav-link {
  display: block;
  margin: 0;
  text-decoration: none;
  text-transform: none;
  color: variables.$text-color;
  cursor: pointer;

  @include mixins.mobile {
    @include mixins.font-info(14px, 20px);

    padding-top: 5px;
    padding-bottom: 5px;
  }

  @include mixins.tablet {
    @include mixins.font-info(16px, 26px);

    padding-left: 0;
    padding-right: 0;
  }

  @include mixins.desktop {
    padding-left: 10px;
    padding-right: 10px;
  }

  &:hover {
    color: rgba(variables.$primary-color, 70%);
  }

  &:focus {
    color: variables.$primary-color;
  }

  &:active {
    color: variables.$state-color-active;
  }
}

.footer__socials {
  @include mixins.list-base;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: fit-content;
  max-width: 290px;

  @include mixins.mobile {
    grid-column: 1/-1;
    grid-row: 4/5;
    margin: 9px auto 0;
  }

  @include mixins.tablet {
    gap: 10px;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: flex-end;
  }

  @include mixins.desktop {
    gap: 20px;
  }
}

.footer__socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: variables.$primary-color;
  text-decoration: none;

  & svg {
    color: variables.$accent-color;
  }

  @include mixins.mobile {
    width: 26px;
    height: 26px;

    & svg {
      width: 12px;
      height: 12px;
    }
  }

  @include mixins.tablet {
    width: 36px;
    height: 36px;

    & svg {
      width: 16px;
      height: 16px;
    }
  }

  &:hover svg {
    color: rgba(variables.$accent-color, 70%);
  }

  &:focus {
    background-color: variables.$accent-color;
  }

  &:focus svg {
    color: variables.$primary-color;
  }

  &:active {
    background-color: variables.$state-color-active;
  }

  &:active svg {
    color: variables.$accent-color;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include mixins.mobile {
    grid-column: 1/-1;
    grid-row: 3/4;
    gap: 13px;
    align-items: center;
    flex-direction: column-reverse;
  }

  @include mixins.tablet {
    display: flex;
    grid-column: 1/3;
    grid-row: 2/3;
    gap: 10px;
    align-items: unset;
    flex-direction: row;
    justify-content: space-between;
  }

  @include mixins.desktop {
    grid-column: 1/-1;
    gap: 20px;
  }
}

.footer__copyright-link,
.footer__copyright-info {
  flex-shrink: 0;
  width: fit-content;

  @include mixins.mobile {
    @include mixins.font-info(12px, 14px);
  }

  @include mixins.tablet {
    @include mixins.font-info(12px, 12px);
  }

  @include mixins.desktop {
    @include mixins.font-info(14px, 18px);
  }
}

.footer__copyright-link {
  color: variables.$text-color;
  width: fit-content;
  text-decoration: underline;

  @include mixins.mobile {
    align-self: center;
    margin-top: 5px;
    text-underline-offset: 4px;
  }

  @include mixins.tablet {
    text-underline-offset: 2px;
  }

  @include mixins.desktop {
    text-underline-offset: 5px;
  }

  &:hover {
    color: rgba(variables.$primary-color, 60%);
  }

  &:focus {
    color: variables.$primary-color;
  }

  &:active {
    color: variables.$state-color-active;
  }
}

.footer__copyright-info {
  margin: 0;
  color: rgba(variables.$text-color, 60%);
}
