@use "../common/variables";
@use "../common/mixins";

.form {
  position: relative;

  @include mixins.mobile {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @include mixins.tablet {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @include mixins.desktop {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.form__wrapper {
  display: flex;

  @include mixins.mobile {
    position: static;
  }

  @include mixins.tablet {
    position: relative;
  }
}

.form__image-wrapper {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: variables.$accent-color;
}

.form__image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include mixins.tablet {
    border-radius: 16px;
  }
}

.form__content {
  position: relative;
  width: 100%;
  height: fit-content;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.form__contacts {
  display: flex;
  flex-direction: column;

  @include mixins.mobile {
    gap: 20px;
  }

  @include mixins.tablet {
    gap: 17px;
  }
}

.form__input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  gap: 12px;
}

.form__label {
  @include mixins.mobile {
    @include mixins.font-info(14px, 14px);
  }

  @include mixins.tablet {
    @include mixins.font-info(14px, 20px);
  }
}

.form__label-text {
  @include mixins.font-info(12px, 12px);

  vertical-align: text-top;
}

.form__input {
  @include mixins.font-info(14px, 14px);

  width: 100%;
  border-radius: 8px;
  color: variables.$accent-color;
  background-color: variables.$transparent-color;
  border: none;
  outline: 1px solid rgba(variables.$accent-color, 30%);

  &::placeholder {
    color: rgba(variables.$accent-color, 60%);
  }
}

.form__input-drop-down {
  padding: 0;
  min-height: 48px;
}

.form__input--text {
  padding: 12px 25px;
  min-height: 48px;
}

.form__input-drop-down {
  appearance: none;
}

.form__input--text-area {
  padding: 16px 25px;
  resize: none;
  appearance: none;

  @include mixins.mobile {
    min-height: 92px;
  }

  @include mixins.tablet {
    min-height: 96px;
  }
}

.form__input-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.form__input:user-invalid + .form__input-checkbox {
  outline: 1px solid variables.$state-color-error;
  background-color: rgba(variables.$state-color-error, 20%);
}

.form__input:disabled + .form__input-checkbox {
  outline: 1px solid variables.$state-color-disabled;
  background-color: variables.$state-color-disabled;
}

.form__action {
  display: flex;
  justify-content: center;
  width: calc(100% - 10px);
  min-height: 56px;
}

.form__content--dark {
  background-color: variables.$primary-color;

  @include mixins.mobile {
    padding: 53px 16px 50px;
    max-width: 442px;
  }

  @include mixins.tablet {
    padding: 60px 46px 58px;
  }

  @include mixins.desktop {
    padding: 82px 75px 41px;
    max-width: 498px;
  }
}

.form__content--dark .form__title {
  margin: 0;
  color: variables.$accent-color;

  @include mixins.mobile {
    @include mixins.font-info(18px, 22px);

    margin-bottom: 19px;
  }

  @include mixins.tablet {
    @include mixins.font-info(28px, 28px);

    margin-bottom: 28px;
  }

  @include mixins.desktop {
    @include mixins.font-info(32px, 36px);

    margin-bottom: 25px;
  }
}

.form__content--dark .form__description {
  margin: 0;
  color: variables.$accent-color;

  @include mixins.mobile {
    @include mixins.font-info(14px, 20px);

    margin-bottom: 24px;
  }

  @include mixins.tablet {
    @include mixins.font-info(16px, 20px);

    margin-bottom: 32px;
  }

  @include mixins.desktop {
    @include mixins.font-info(16px, 26px);

    margin-bottom: 29px;
  }
}

.form__content--dark .form__label {
  color: rgba(variables.$alternative-color, 80%);
}

.form__content--dark .form__input {
  &:hover,
  &:focus,
  &:active {
    outline: 1px solid variables.$accent-color;
  }

  &:disabled {
    outline: 1px solid rgba(variables.$accent-color, 20%);
    background-color: rgba(variables.$accent-color, 20%);
  }

  &:user-invalid {
    outline: 1px solid variables.$state-color-error;
    background-color: rgba(variables.$state-color-error, 20%);
  }
}

.form__content--dark .form__input-wrapper {
  &:focus-within .form__label,
  &:hover .form__label {
    color: variables.$alternative-color;
  }

  &:disabled .form__label {
    color: rgba(variables.$alternative-color, 60%);
  }
}

.form__content--dark .form__input + .form__input-checkbox {
  outline: 1px solid rgba(variables.$accent-color, 70%);
  background-color: variables.$transparent-color;
}

.form__content--dark .form__input:hover + .form__input-checkbox {
  outline: 1px solid variables.$accent-color;
  background-color: variables.$transparent-color;
}

.form__content--dark .form__input:checked + .form__input-checkbox {
  outline: 1px solid variables.$accent-color;
  background-color: variables.$accent-color;

  &::before {
    content: "";
    position: absolute;
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNC41TDMuOTQ3MzcgOEw5IDIiIHN0cm9rZT0icmVkIi8+Cjwvc3ZnPgo=");
    mask-repeat: no-repeat;
    background-color: variables.$primary-color;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
  }
}

.form__content--dark .form__input:checked:hover + .form__input-checkbox {
  background-color: variables.$transparent-color;

  &::before {
    background-color: variables.$accent-color;
  }
}

.form__content--dark .form__input:checked:disabled + .form__input-checkbox {
  outline: 1px solid variables.$accent-color;
  background-color: rgba(variables.$accent-color, 60%);
}

.form__content--dark .form__action {
  color: variables.$accent-color;
  border-color: variables.$accent-color;
  text-align: center;

  &::before {
    background-color: variables.$accent-color;
    width: 46px;
    height: 46px;
  }

  &::after {
    background-color: variables.$primary-color;
    right: 20px;
  }

  &:focus {
    color: variables.$accent-color;
    border-color: variables.$accent-color;
  }

  &:hover {
    color: variables.$primary-color;
    border-color: variables.$accent-color;
    background-color: variables.$accent-color;
  }

  &:hover::before {
    background-color: variables.$primary-color;
  }

  &:hover::after {
    background-color: variables.$accent-color;
  }

  &:active {
    color: rgba(variables.$primary-color, 70%);
    border-color: variables.$accent-color;
    background-color: variables.$accent-color;
  }

  &:active::before {
    background-color: variables.$primary-color;
  }

  &:active::after {
    background-color: variables.$accent-color;
  }
}

.form__content--light {
  background-color: variables.$accent-color;
  max-width: 510px;

  @include mixins.mobile {
    padding: 35px 15px 40px;
  }

  @include mixins.tablet {
    padding: 55px 81px 60px;
  }

  @include mixins.desktop {
    padding: 53px 81px 60px;
  }
}

.form__content--light .form__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mixins.mobile {
    gap: 13px;
  }

  @include mixins.tablet {
    gap: 16px;
  }
}

.form__content--light .form__title {
  text-align: center;
  color: variables.$primary-color;

  @include mixins.mobile {
    @include mixins.font-info(18px, 22px);

    margin-bottom: 6px;
    line-height: 22px;
  }

  @include mixins.tablet {
    @include mixins.font-info(28px, 28px);
  }

  @include mixins.desktop {
    @include mixins.font-info(32px, 36px);
  }
}

.form__content--light .form__input-wrapper--extra {
  display: none;
}

.form__content--light .form__description {
  text-align: center;

  @include mixins.mobile {
    margin-bottom: 17px;
  }

  @include mixins.tablet {
    margin-bottom: 21px;
  }

  @include mixins.desktop {
    margin-bottom: 18px;
  }
}

.form__content--light .form__input-wrapper {
  &:focus-within .form__label,
  &:hover .form__label {
    color: variables.$text-color;
  }

  &:disabled .form__label {
    color: rgba(variables.$state-color-disabled, 60%);
  }
}

.form__content--light .form__label {
  color: rgba(variables.$text-color, 80%);
}

.form__content--light .form__input {
  color: variables.$text-color;
  outline: 1px solid rgba(variables.$text-color, 30%);

  &:hover,
  &:focus,
  &:active {
    outline: 1px solid variables.$text-color;
  }

  &:disabled {
    outline: 1px solid rgba(variables.$accent-color, 20%);
    background-color: rgba(variables.$accent-color, 20%);
  }

  &:user-invalid {
    outline: 1px solid variables.$state-color-error;
    background-color: rgba(variables.$state-color-error, 20%);
  }
}

.form__content--light .form__input + .form__input-checkbox {
  outline: 1px solid rgba(variables.$text-color, 70%);
  background-color: variables.$transparent-color;
}

.form__content--light .form__input:hover + .form__input-checkbox {
  outline: 1px solid variables.$text-color;
  background-color: variables.$transparent-color;
}

.form__content--light .form__input:checked + .form__input-checkbox {
  outline: 1px solid variables.$text-color;
  background-color: variables.$transparent-color;

  &::before {
    content: "";
    position: absolute;
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNC41TDMuOTQ3MzcgOEw5IDIiIHN0cm9rZT0icmVkIi8+Cjwvc3ZnPgo=");
    mask-repeat: no-repeat;
    background-color: variables.$primary-color;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
  }
}

.form__content--light .form__input:checked:hover + .form__input-checkbox {
  background-color: variables.$transparent-color;
  outline: 1px solid variables.$text-color;

  &::before {
    background-color: variables.$text-color;
  }
}

.form__content--light .form__input:checked:disabled + .form__input-checkbox {
  outline: 1px solid variables.$text-color;
  background-color: rgba(variables.$text-color, 60%);
}

.form__content--light .form__action {
  width: fit-content;
  color: variables.$primary-color;
  border-color: variables.$primary-color;
  text-align: center;

  &::before {
    background-color: variables.$primary-color;
    width: 46px;
    height: 46px;
  }

  &::after {
    background-color: variables.$accent-color;
    right: 20px;
  }

  &:focus {
    color: variables.$primary-color;
    border-color: variables.$primary-color;
  }

  &:hover {
    color: variables.$accent-color;
    border-color: variables.$primary-color;
    background-color: variables.$primary-color;
  }

  &:hover::before {
    background-color: variables.$accent-color;
  }

  &:hover::after {
    background-color: variables.$primary-color;
  }

  &:active {
    color: rgba(variables.$accent-color, 70%);
    border-color: variables.$primary-color;
    background-color: variables.$primary-color;
  }

  &:active::before {
    background-color: variables.$accent-color;
  }

  &:active::after {
    background-color: variables.$primary-color;
  }
}
