@use "../common/variables";
@use "../common/mixins";

.programs {
  @include mixins.mobile {
    padding-top: 57px;
    padding-bottom: 50px;
  }

  @include mixins.tablet {
    padding-right: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include mixins.desktop {
    padding-top: 65px;
    padding-bottom: 60px;
  }
}

.programs__wrapper {
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-items: center;

  @include mixins.mobile {
    grid-template-columns: 70% auto;
  }

  @include mixins.tablet {
    grid-template-columns: auto auto 54px;
  }

  @include mixins.desktop {
    max-width: 1240px;
    overflow-x: hidden;
  }
}

.programs__title {
  margin: 0;
  color: variables.$primary-color;

  @include mixins.mobile {
    @include mixins.font-info(20px, 20px);
  }

  @include mixins.tablet {
    @include mixins.font-info(34px, 50px);
  }

  @include mixins.desktop {
    @include mixins.font-info(50px, 50px);
  }
}

.programs__action {
  @include mixins.mobile {
    min-width: 205px;
    grid-column: 1/2;
    grid-row: 3/4;

    & span {
      padding-left: 10px;
    }
  }

  @include mixins.tablet {
    grid-column: 2/4;
    justify-self: end;
    min-height: 58px;
    min-width: 233px;
    margin-right: 45px;

    &:before {
      width: 46px;
      height: 46px;
    }

    &:after {
      right: 20px;
    }
  }

  @include mixins.desktop {
    margin-bottom: -4px;
    margin-right: unset;
  }
}

.programs__slider {
  width: 100%;
  grid-column: 1/-1;

  @include mixins.mobile {
    margin-top: 33px;
    margin-bottom: 30px;
  }

  @include mixins.tablet {
    margin-top: 39px;
    margin-bottom: 39px;
  }

  @include mixins.desktop {
    margin-top: 41px;
    margin-bottom: 40px;
  }
}

.programs__items {
  @include mixins.list-base;

  & .programs__item {
    display: flex;
  }
}

.programs__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: auto;
  border-radius: 12px;
  background-color: variables.$primary-color;

  @include mixins.mobile {
    max-width: 290px;
    min-height: 400px;
    padding: 18px 10px;
  }

  @include mixins.tablet {
    max-width: 324px;
    min-height: 420px;
    padding: 20px 20px 11px 20px;
  }

  @include mixins.desktop {
    max-width: 392px;
    padding: 20px 51px 20px 20px;
  }
}

.programs__image-wrapper {
  position: absolute;
  inset: 0;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: variables.$overlay-color-alternative;
    border-radius: 12px;
  }
}

.programs__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.programs__info {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.programs__info-title {
  position: relative;
  margin: 0;
  border-radius: 12px 12px 0 0;
  width: fit-content;
  color: variables.$primary-color;
  background-color: variables.$accent-color;
  padding-left: 18px;
  padding-right: 12px;

  &::after {
    content: "";
    position: absolute;
    mask-image: url("/__spritemap#sprite-angle-view");
    mask-repeat: no-repeat;
    background-color: variables.$accent-color;
    width: 18px;
    height: 18px;
    right: -18px;
    bottom: 0;
  }

  @include mixins.mobile {
    @include mixins.font-info(16px, 18px);

    padding-top: 18px;
    padding-bottom: 6px;
    min-width: 146px;
    max-width: 234px;
  }

  @include mixins.tablet {
    @include mixins.font-info(20px, 24px);

    padding-top: 13px;
    padding-bottom: 1px;
    min-width: 173px;
    max-width: 227px;
  }

  @include mixins.desktop {
    @include mixins.font-info(24px, 26px);

    padding-bottom: 2px;
    min-width: 194px;
    max-width: 285px;
  }
}

.programs__info-content {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 16px;
  border-radius: 0 12px 12px;
  background-color: variables.$accent-color;

  & p {
    margin: 0;
  }

  @include mixins.mobile {
    padding: 0 18px 1px;
    min-height: 69px;

    & p {
      @include mixins.font-info(12px, 14px); }
  }

  @include mixins.tablet {
    padding: 12px 18px 15px;
    min-height: 77px;

    & p {
      @include mixins.font-info(14px, 20px); }
  }

  @include mixins.desktop {
    padding: 11px 18px 14px;
    min-height: 79px;

    & p {
      @include mixins.font-info(14px, 18px); }
  }
}

.programs__info-action {
  &::before {
    width: 30px;
    height: 30px;
    right: 0;
  }

  &::after {
    right: 8px;
  }
}

.programs__pagination {
  position: relative;
  height: 2px;
  grid-column: 1/-2;
  background-color: variables.$overlay-color-alternative;

  & div {
    height: 2px;
    cursor: pointer;
    background-color: variables.$primary-color;
  }

  @include mixins.mobile {
    display: none;
  }

  @include mixins.tablet {
    width: calc(100% - 109px);

    & div {
      width: 324px;
    }
  }

  @include mixins.desktop {
    width: calc(100% - 52px);

    & div {
      width: 392px;
    }
  }
}

.programs__pagination-buttons {
  display: flex;
  justify-self: end;

  @include mixins.mobile {
    margin-top: -5px;
    grid-row: 1/2;
    grid-column: 2/3;
    gap: 6px;
  }

  @include mixins.tablet {
    grid-column: 3/-1;
    gap: 10px;
    margin-right: 46px;
  }

  @include mixins.desktop {
    margin-right: unset;
  }
}
