// Fonts
$font-primary: "Manrope", "Arial", sans-serif;

// Colors
$primary-color: #316dc2;
$accent-color: #ffffff;
$alternative-color: #f0efe9;
$text-color: #484848;
$overlay-color: rgba(13, 29, 51, 0.4);
$overlay-color-alternative: rgba(49, 109, 194, 0.2);
$state-color-disabled: #a9afb7;
$state-color-active: #275699;
$state-color-error: #ff5e66;

// General Colors
$transparent-color: transparent;

// View Port Size
$view-port-desktop-wide: 1920px;
$view-port-desktop: 1440px;
$view-port-tablet: 768px;
$view-port-mobile: 320px;
